// Colors Pallete

$font-light: #ffffff;
$font-dark: #252739;
$bg-primary: #2A273F;
$bg-primary-darkest: #373252;
$bg-secondary: #d1d7ff;
$bg-tertiary: #e8ebff;

$danger: #ff4d4d;
$success: #4dff4d;
$info: #4db3ff;