// Colors Pallete

$font-light: #ffffff;
$font-dark: #252739;
$primary: #2A273F;
$primary-dark: #373252;
$secondary: #d1d7ff;
$secondary-light: #e8ebff;

$danger: #ff4d4d;
$success: #4dff4d;
$info: #4db3ff;