@import 'colors';


button.flat-button {
  position: relative;
  height: 40px;
  width: 250px;
  font-size: 15px;
  border: 0;
  line-height: 20px;
  background: $bg-primary;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
  margin: 25px;
  color: $font-light;
  overflow: hidden;
  border-radius: 15px;

  &:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $font-dark;
    content: "";
    z-index: -2;
    transition: transform 0.3s;
  }

  &:hover:after {
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  span.spinner {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
}