@import "./colors";

// div.custom-input {
//   display: flex;
//   position: relative;
//   align-items: center;
//   justify-content: center;

//   input[type="email"],
//   input[type="password"],
//   input[type="text"] {
//     font-family: "Roboto", sans-serif;
//     height: 40px;
//     width: 300px;
//     font-size: 15pt;
//     line-height: 30px;
//     margin: 10px 0;
//     text-align: start;
//     padding-left: 10px;
//     background: #c4c4c4;
//     outline: none;
//     color: $font-dark;
//     border: none;
//     transition: background-color 0.3s;
//     border-radius: 5px;

//   }

//   div.icon-before {
//     border-color: $primary;
//     border-style: solid;
//     border-width: 1px 1px 1px 1px;
//     background-color: transparent;
//     padding: 15px;
//     color: $primary;
//   }

//   div.icon-after {
//     position: absolute;
//     margin-left: 310px;
//     background-color: transparent;
//   }

//   & input {

//     &:focus {
//       background: #a7a4a4;
//     }

//     &:disabled {
//       opacity: 0.5;
//     }

//   //   &.required,
//   //   &.danger {
//   //     border: 1px solid $danger;
//   //     transition: box-shadow 0.5s;
//   //   }
//   //   &.success {
//   //     transition: box-shadow 0.5s;
//   //   }
//   }

//   span.spinner {
//     content: "";
//     box-sizing: border-box;
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     margin-left: 270px;
//     border-radius: 50%;
//     border: 2px solid #ccc;
//     border-top-color: #000;
//     animation: spinner 0.6s linear infinite;
//   }
// }

// div.custom-input:nth-child(1) {
//   animation: slide-right linear 0.3s;
// }
// div.custom-input:nth-child(2) {
//   animation: slide-right linear 0.4s;
// }
// div.custom-input:nth-child(3) {
//   animation: slide-right linear 0.5s;
// }
// div.custom-input:nth-child(4) {
//   animation: slide-right linear 0.6s;
// }


input{
  width: 100% !important;
  margin: 5px 0px !important;
  font-family: "Roboto", sans-serif;
  background-color: $secondary !important;
  color: $font-dark !important;
  transition: background-color 0.3s;
  outline: none;
  border: none !important;

  &::placeholder {
    color: $font-dark !important;
  }

}